*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}

::-webkit-scrollbar {
  width: 0;
}

/* Optional: If you want to hide the scrollbar on Firefox */
* {
  scrollbar-width: none;
}





.slide-in-right-content {
  animation: slideInRightContent 6s ease-out ;
}

@keyframes slideInRightContent {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}


.left p:hover{

  scale: 1.1;
  transition: 0.6s;
}

.right p:hover{
  scale: .7;
  transition: 0.6s;
}